.text-white {
   color: $color-white-100;
}
.text-black {
   color: $color-dark-100;
}

.text-grey {
   color: $color-dark-50;
}
.text-green {
   color: $color-green-100;
}

.text-center {
   text-align: center;
}

.margin-bottom-sm {
   margin-bottom: 1.6rem;
}
.margin-bottom-md {
   margin-bottom: 2.4rem;
}
.margin-bottom-lg {
   margin-bottom: 3.2rem;
}

.margin-bottom-huge {
   margin-bottom: 4.8rem;
}
