/* font family */
$font-crimson: "Crimson Text", serif;
$font-work-sans: "Work Sans", sans-serif;
/* heading Size */
$h1: 4rem;
$h2: 3.2rem;
$h3: 2.8rem;
$h4: 2.4rem;
$h5: 2rem;
$h6: 1.6rem;
$sub-text: 2rem;

$label: 1.6rem;
$letter-spacing: 5px;
$body: 1.5rem;

/* colors */
$color-dark-100: rgba(33, 37, 41, 1);
$color-dark-75: rgba(33, 37, 41, 0.75);
$color-dark-50: rgba(33, 37, 41, 0.5);
$color-dark-25: rgba(33, 37, 41, 0.25);

$color-white-100: rgb(255, 255, 255, 1);
$color-white-75: rgb(255, 255, 255, 0.75);
$color-white-50: rgb(255, 255, 255, 0.5);
$color-white-25: rgb(255, 255, 255, 0.25);

$color-green-100: rgb(116, 198, 157, 1);
$color-green-75: rgb(116, 198, 157, 0.75);
$color-green-50: rgb(116, 198, 157, 0.5);
$color-green-25: rgb(116, 198, 157, 0.25);
