.contact {
   padding: 5rem 0;
   gap: 6rem;

   &__content {
      grid-column: 1 / -1;
   }

   &__map {
      grid-column: col-start 6 / center-end;
      display: flex;
      align-items: center;
      img {
         max-height: 100%;
         object-fit: cover;
      }

      @include respond(tab-port) {
         grid-row: 2;
         grid-column: center-start / center-end;
         justify-content: center;
      }
      @include respond(phone) {
         grid-column: 1 / -1;
      }
   }

   @include respond(phone) {
      grid-template-columns: 1fr;
   }
}
