/////////////////////////////////
/* HERO  */
/////////////////////////////////
.hero {
   background-color: var(--color-green-100);
   padding: 5rem 0 8rem;
}

/////////////////////////////////
/* PARTNER  */
/////////////////////////////////
.partner {
   padding: 10rem 0 5rem;

   &__logos {
      grid-column: center-start / center-end;

      display: grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 1rem;
   }

   &__logo {
      filter: brightness(0%);
      opacity: 0.5;
   }

   &__btn {
      grid-column: col-start 4 / col-end 7;
      justify-self: center;
   }
}

/////////////////////////////////
/* MARKETING  */
/////////////////////////////////
.marketing {
   padding: 5rem 0;
}
/////////////////////////////////
/* WORKING  */
/////////////////////////////////
.working {
   padding: 5rem 0;
}
/////////////////////////////////
/* TEAM  */
/////////////////////////////////
.teams {
   padding: 5rem 0;

   &__btn {
      grid-column: col-start 4 / col-end 7;
      justify-self: center;
   }
}
/*

- Font sizes (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
