.portfolio {
   padding: 5rem 0;

   &__projects {
      grid-column: center-start / center-end;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 4rem;
   }

   &__project {
      display: block;
      cursor: pointer;
      width: calc(100% / 2 - 4rem);

      img {
         max-height: 100%;
      }

      @include respond(phone) {
         width: 100%;
      }
   }

   &__btn {
      grid-column: col-start 4 / col-end 7;
      justify-self: center;
   }
}
