.pattern {
   &__content {
      width: 75%;
      grid-column: center-start / col-end 5;
      align-self: center;
      justify-self: start;
      color: var(--color-dark-100);
      &--2 {
         grid-column: col-start 6 / col-end 10;
         justify-self: end;
      }

      @include respond(tab-port) {
         grid-column: center-start / center-end;
         justify-self: start;
      }
      @include respond(phone) {
         justify-self: center;
      }
   }

   &__text {
      color: var(--color-white-75);
      &--2 {
         color: var(--color-dark-50);
      }
   }
   &__image-box {
      grid-column: col-start 6 / col-end 10;

      &--2 {
         grid-column: center-start / col-end 5;
      }

      @include respond(tab-port) {
         grid-row: 1;
         grid-column: center-start / center-end;
         justify-self: center;
      }
      @include respond(phone) {
         justify-self: center;
      }
   }
   &__image {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
   }
}
