.social {
   display: flex;
   gap: 2.4rem;
   align-items: center;
   list-style: none;
   &__link {
      &:link,
      &:visited {
         font-size: 1.8rem;
         color: $color-white-100;
         transition: all 0.3s;
      }

      &:hover,
      &:active {
         color: $color-dark-100;
      }
   }
}
