.team {
   display: grid;
   gap: 4.8rem;

   &__member {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      align-items: center;
      padding: 1.8rem 2.4rem;
      box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);

      transition: all 0.3s ease;

      &:hover {
         transform: translateY(-1rem);
         box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      }

      img {
         max-width: 80%;
      }
   }
   &__title,
   &__position {
      align-self: start;
   }
   &__title {
      font-size: $sub-text;
      font-weight: 600;
   }
   &__position {
      font-size: $label;
      color: $color-dark-75;
      text-transform: uppercase;
   }
}
