.header {
   background-color: var(--color-green-100);
   padding: 3.2rem 0 1rem;
   &__container {
      grid-column: center-start / center-end;

      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo-box {
      display: flex;
      gap: 1.2rem;
      align-items: center;

      font-size: 4rem;
      font-weight: 500;
      color: var(--color-white-100);
   }
   &__logo {
      display: inline-block;
      height: 5rem;
   }

   &__nav {
   }
   &__list {
      list-style: none;

      display: flex;
      gap: 2.4rem;
   }
   &__item {
   }
   &__link {
      &:link,
      &:visited {
         font-size: var(--sub-heading);
         color: var(--color-white-100);
         transition: all 0.2s;
      }
      &:hover,
      &:active {
         color: var(--color-dark-100);
      }
   }
}

/*

- Font sizes (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
