/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
}
/*******************************/
/*!  RESET */
/******************************/

/*******************************/
/*!  LAYOUT SYSTEM  */
/******************************/

/*******************************/
/*!  HELPER CLASS  */
/******************************/

/* *text Color */

/* *Btn */

/*******************************/
/*!  HEADER  */
/******************************/

/* Mobile Navigation */

/*******************************/
/*!  FOOTER  */
/******************************/

/*******************************/
/*!  RESPONSIVE */
/******************************/
/* --->Width:768px=48em */
@media (max-width: 48em) {
   .navbar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-green-100);

      transform: translateX(100%);
      transition: all 0.4s ease-in;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
   }
   .nav-open .navbar {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
   }
   .header__nav {
      flex-direction: column;
      gap: 4.8rem;
   }

   .header__nav--link:link,
   .header__nav--link:visited {
      font-size: 3rem;
   }
   .btn-mobile-nav {
      display: block;
      border: none;
      background: none;
      z-index: 9999;
      cursor: pointer;
   }
   .mobile-nav-icon {
      width: 4.4rem;
      height: 4.4rem;
      color: var(--color-white-100);
   }
   [name="close-outline"] {
      display: none;
   }
   .nav-open [name="menu-outline"] {
      display: none;
   }
   .nav-open [name="close-outline"] {
      display: block;
   }
}
/* --->Width:672px=42em */
@media (max-width: 42em) {
   .footer--container {
      grid-template-columns: 1fr;
      row-gap: 0.8rem;
      justify-items: center;
   }
   .btn {
      font-size: var(--h6);
   }

   .credit:link,
   .credit:visited {
      justify-self: unset;
   }
}

/*
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
